<% provide(:title, "About") %>
 <div class="row" id="form">
    <div class="medium-4 columns">
        <%= image_tag("maseno.jpg") %>
    </div>
    <div class="medium-4 columns">
        <%= image_tag("maseno.jpg") %>
    </div>
    <div class="medium-4 columns">
        <%= image_tag("maseno.jpg") %>
    </div>
</div>
<h3 align="center">This app is about easening the way to search for a book in the library and also providing
a secure database for keeping books records.<br> A student first of all checks if a book he 
intends to borrow is available or not, this saves students time since students will only go
to the library in assuarance that he/she is going to get the book</h3>
