<% provide(:title, "Home") %>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
Want to be a member?  <%= link_to "<button>Register now!</button>".html_safe, new_user_path(@user) %><br>
