<% provide(:title, "Home") %>
<div class="medium-12 columns medium-offset-0" align="center" >
        <h1>Welcome to Maseno University Library</h1>
        <p>This is where you can get all books you need in a much quicker way than ever before</p>
        Want to be a member?  <%= link_to "<button>Register now!</button>".html_safe, new_user_path(@user) %><br>
</div>
