<% provide(:title, @user.name) %>
<div class= "row">
    <div class="medium-2 columns">
        <%= render 'users/profile' %>
        <% if !current_user.admin? %>
            <%= render 'users/stat' %>
        <% end %>
    </div>
    <div class="medium-8 columns">
        <h4>Available books</h4>
        <div class="medium-6 columns">
            <%= render 'books/search' %>
        </div>
        <table border=1>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>Available copies</th>
            </tr>
            <%= render @books %>
        </table>
    </div>
    <div>
    </div>
</div>

