
<div class="medium-8 columns">
    <h4>Available books</h4>
    <div class="medium-4 columns">
        <%= render 'books/search' %>
    </div>
    <table border=1>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Available copies</th>
        </tr>
        <%= render @books %>
</table>

