.top-bar {
    background: grey;
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;

}

.top-bar ul li {
    display: inline;
    list-style:none;
    padding: 6px 12px;
    align:right;

}

